.base {
    position: relative;
    padding: 3rem 3rem 3.2rem 5rem;
}

.wrapper {
    margin: 0 0 -5rem;
}

.items {
    display: inline-block;
    width: calc(50% - 4.5rem);
    vertical-align: top;

    &:not(:last-child) {
        margin: 0 9rem 0 0;
    }
}

.item {
    position: relative;
    box-sizing: border-box;
    margin: 0 0 5rem;

    .items:first-child &:nth-child(1)::before,
    &:nth-child(2)::before {
        position: absolute;
        top: .5rem;
        left: -3.4rem;
        width: 2.4rem;
        height: 2.1rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: '';
    }

    .items:first-child &:nth-child(1)::before {
        background-image: url('./images/widget-members-first.png');
    }

    .items:first-child &:nth-child(2)::before {
        background-image: url('./images/widget-members-second.png');
    }
}

.member {
    margin: 0 0 1.6rem;
}

.progress {
    width: 100%;
    height: .6rem;
    overflow: hidden;
    border-radius: .5rem;
    background-color: #26211e;
}

.filler {
    height: 100%;
    background-color: #f37021;
    transition: width .4s;
}

.summary {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    line-height: 2.5rem;
}

.value {
    position: relative;
    margin: 0 3rem 0 0;
    color: #726662;

    &::after {
        position: absolute;
        top: 50%;
        right: -1.5rem;
        width: 1px;
        height: 2rem;
        margin: -1rem 0 0 0;
        background-color: #726662;
        content: '';
    }
}

.rate {
    color: #fff;
}
