.base {
    padding: 1rem 0 0;
    text-align: center;
}

.value {
    margin: 0 0 1rem;
    font-size: 6rem;

    &::after {
        margin: 0 0 0 1rem;
        font-size: 3rem;
        content: '%';
    }

    &.isLow {
        color: #f86868;
    }

    &.isMiddle {
        color: #faff5e;
    }

    &.isTop {
        color: #bcffa4;
    }
}

.caption {
    color: #726662;
    font-size: 2rem;
    line-height: 3rem;
}
